<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onepiece.infrastructure.dao.IAIClientModelToolConfigDao">

    <resultMap id="aiClientModelToolConfigMap" type="com.onepiece.infrastructure.dao.po.AIClientModelToolConfig">
        <id column="id" property="id"/>
        <result column="model_id" property="modelId"/>
        <result column="tool_type" property="toolType"/>
        <result column="tool_id" property="toolId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, model_id, tool_type, tool_id, create_time
    </sql>

    <select id="queryModelToolConfigList" parameterType="java.lang.Long" resultMap="aiClientModelToolConfigMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ai_client_model_tool_config
        WHERE model_id = #{modelId}
    </select>

    <select id="queryModelToolConfig" parameterType="java.lang.Integer" resultMap="aiClientModelToolConfigMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ai_client_model_tool_config
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.onepiece.infrastructure.dao.po.AIClientModelToolConfig">
        INSERT INTO ai_client_model_tool_config
        (model_id, tool_type, tool_id, create_time)
        VALUES
        (#{modelId}, #{toolType}, #{toolId}, NOW())
    </insert>

    <update id="update" parameterType="com.onepiece.infrastructure.dao.po.AIClientModelToolConfig">
        UPDATE ai_client_model_tool_config
        <set>
            <if test="modelId != null">model_id = #{modelId},</if>
            <if test="toolType != null">tool_type = #{toolType},</if>
            <if test="toolId != null">tool_id = #{toolId},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM ai_client_model_tool_config
        WHERE id = #{id}
    </delete>

    <!-- 根据模型ID列表查询模型工具配置 -->
    <select id="queryModelToolConfigByModelIds" parameterType="java.util.List" resultMap="aiClientModelToolConfigMap">
        SELECT  id, model_id, tool_type, tool_id, create_time
        FROM
        ai_client_model_tool_config
        WHERE
        model_id IN
        <foreach collection="list" item="modelId" open="(" separator="," close=")">
            #{modelId}
        </foreach>
    </select>

</mapper>